[Unit]
Description=SignalMaker Raspberry fullscreen TUI
After=network-online.target raspberry-executor.service systemd-user-sessions.service
Wants=network-online.target raspberry-executor.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/SignalMaker
Environment=PYTHONUNBUFFERED=1
Environment=TERM=xterm-256color
Environment=DISPLAY=
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=tty
StandardError=journal
ExecStartPre=+/bin/sleep 5
ExecStartPre=+/usr/bin/chvt 1
ExecStartPre=+/usr/bin/setterm -blank 0 -powerdown 0 -powersave off -term linux -store
ExecStartPre=+/bin/sh -c 'printf "\033c" > /dev/tty1'
ExecStart=/bin/bash -lc 'exec /home/pi/Desktop/SignalMaker/tui.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
